.creations {
  padding: var(--padding-thin);
  margin: var(--margin-large) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

    header {
      width: 45px;
      margin: var(--margin-large) auto;
    }

}

@media screen and(min-width: $vw-medium){
  .creations {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;

    article {
      width: 48%;
    }
  }


}

@media screen and(min-width: $vw-huge){
  .creations {
      article {
        width: 33%;
      }
  }
}