:root {
  // Couleurs de base
  --color-white: #fff;
  --color-black: #000;

  // Couleurs du projet
  --color-link: #202c4a;
  --color-link-visited: #8B8B97;
  --color-link-hover: #E53847;
  --color-link-active:#E53847;
  --color-link-focus:#E53847;

  --color-bg-primary:#FFF;
  --color-bg-secondary:#F0F0F0;
  --color-bg-tertiary:#202C4A;

}